@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --text: hsl(0, 0%, 99%);
  --textDim: hsl(0, 0%, 60%);
  --background: hsl(0, 0%, 7%);
  --primary: hsl(155, 100%, 65%);
  --primaryBg: hsla(155, 100%, 65%, 1%);
  --primaryHi: hsla(155, 100%, 75%, 25%);
  --primaryFg: hsl(155, 100%, 85%);
  --secondary: hsl(156, 51%, 14%);
  --secondaryFg: hsl(156, 51%, 75%);
  --secondaryBg: hsla(156, 51%, 14%, 5%);
  --secondaryHi: hsla(156, 51%, 30%, 50%);
  --accent: hsl(155, 100%, 94%);
  --accentBg: hsla(155, 100%, 94%, 1%);
  --accentHi: hsla(155, 100%, 100%, 25%);
}
.background-custom{
  background-color: var(--background);
}
.background-custom2{
  background-color: var(--primary);
}

.hero {
  font-weight: 400;
  background-color: var(--background);
  color: var(--text);
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.grid {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-self: center;
  z-index: 1;
}

.grid-svg {
  height: 80%;
  width: 80%;
  position: relative;
  z-index: 1;
}

.blur {
  height: 12rem;
  width: 12rem;
  background-color: var(--primary);
  filter: blur(100px);
  border-radius: 100px;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: -0.10rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-self: center;
  height: 100%;
  z-index: 1000;
}

.title > p {
  margin: 0;
  line-height: 7rem;
  width: auto;
}

.title > p:nth-child(1){
  align-self: center;
}

.title > p:nth-child(2){
  color: var(--primary);
  align-self: center;
}

.title > p:nth-child(3){
  align-self: flex-end;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: 50px;
  width: 160px;
  z-index: 9999;
}

.button-cs {
  height: 50px;
  width: 160px;
  clip-path: path("M 0 25 C 0 -5, -5 0, 80 0 S 160 -5, 160 25, 165 50 80 50, 0 55, 0 25");
  border: none;
  border-radius: 13px;
  background-color: var(--primaryBg);
  box-shadow: 0px -3px 15px 0px var(--primaryHi) inset;
  color: var(--primaryFg);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(0px);
  transition: all 0.2s ease;
}

.span-cs {
  width: 100px;
  height: 60px;
  background-color: var(--primaryHi);
  border-radius: 100%;
  filter: blur(20px);
  position: absolute;
  bottom: -50%;
  transition: all 0.2s ease;
}

.button:hover > span {
  opacity: 60%;
}

.button:hover > button {
  transform: translateY(5px);
}

.button.first {
  top: 12%;
  right: 20%;
}

.button.sec {
  bottom: 13%;
  right: 11%;
}

.button.sec > button {
  background-color: var(--accentBg);
  box-shadow: 0px -3px 15px 0px var(--accentHi) inset;
  color: var(--accentFg);
}

.button.sec > span {
  background-color: var(--accentHi);
}

.button.third {
  bottom: 25%;
  left: 15%;
}

.button.third > button {
  background-color: var(--secondaryBg);
  box-shadow: 0px -3px 15px 0px var(--secondary) inset;
  color: var(--secondaryFg);
}

.button.third > span {
  background-color: var(--secondaryHi);
}


.top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 50%;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 50%;
}




@media screen and (max-width: 1000px) {
  .title {
    font-size: 3rem;
    
  }
  
  .title > p {
    line-height: 4rem;
    letter-spacing: -0.12rem;
  }
  .blur{
    height: 8rem;
  width: 8rem;
  }
  .bottom-left{
    display: none;
  }
  .top-right{
    display: none;
  }
}

/* .grid-svg {
    height: 80%;
    width: 80%;
}
:root {
    --text: hsl(0, 0%, 99%);
    --textDim: hsl(0, 0%, 60%);
    --background: hsl(0, 0%, 7%);
    --primary: hsl(155, 100%, 65%);
    --primaryBg: hsla(155, 100%, 65%, 1%);
    --primaryHi: hsla(155, 100%, 75%, 25%);
    --primaryFg: hsl(155, 100%, 85%);
    --secondary: hsl(156, 51%, 14%);
    --secondaryFg: hsl(156, 51%, 75%);
    --secondaryBg: hsla(156, 51%, 14%, 5%);
    --secondaryHi: hsla(156, 51%, 30%, 50%);
    --accent: hsl(155, 100%, 94%);
    --accentBg: hsla(155, 100%, 94%, 1%);
    --accentHi: hsla(155, 100%, 100%, 25%);
  }
.background-custom{
  background-color: var(--background);
}
.back-color {
    height: 12rem;
    width: 12rem;
    background: var(--primary);
    filter: blur(100px);
    border-radius: 100px;
    position: absolute;
  left: 50%;
  } */

/* ----------------------------- */
/* .hbg {
    /* background-image: url("/removebg-preview.png"); */
/* background-image: url("/146441.svg"); */
/* background-image: url("/16133537_5694815.svg"); */
/* background-image: url("/18880200_v882-kul-41.svg"); */
/* background-image: url("/946783_OE3T261.svg"); */
/* background-image: url("/grid.svg");

    background-repeat: no-repeat;

    background-size: cover;
}  */
