@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-svg {
    height: 80%;
    width: 80%;
}


/* .hbg {
    /* background-image: url("/removebg-preview.png"); */
/* background-image: url("/146441.svg"); */
/* background-image: url("/16133537_5694815.svg"); */
/* background-image: url("/18880200_v882-kul-41.svg"); */
/* background-image: url("/946783_OE3T261.svg"); */
/* background-image: url("/grid.svg");

    background-repeat: no-repeat;

    background-size: cover;
}  */
