@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --text: hsl(0, 0%, 99%);
    --textDim: hsl(0, 0%, 60%);
    --background: #121212;
    --primary: #4dffb5;
    --primaryBg: hsla(155, 100%, 65%, 1%);
    --primaryHi: #80ffca40;
    --primaryFg: hsl(155, 100%, 85%);
    --secondary: #123627;
    --secondaryFg: hsl(156, 51%, 75%);
    --secondaryBg: hsla(156, 51%, 14%, 5%);
    --secondaryHi: hsla(156, 51%, 30%, 50%);
    --accent: hsl(155, 100%, 94%);
    --accentBg: hsla(155, 100%, 94%, 1%);
    --accentHi: hsla(155, 100%, 100%, 25%);

    --pinkish-red: #C35A74;
    --medium-blue: #307BAA;
    --greenish-blue: #53BAB5;
    --bright-orange: #FF7445;
    --white-smoke: #F5F5F4;
    --white: #FFF;
    --dark-gray: #7D7C7C;
    --black: #000;
}
*{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #121212;
}
::-webkit-scrollbar-thumb{
  background: #4dffb5;
  border-radius: 3px;
  height: 20vh;
}
/*------------Hero Section--------------------*/
.hero {
  font-weight: 400;
  background-color: var(--background);
  color: var(--text);
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.grid {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-self: center;
  z-index: 1;
}

.grid-svg {
  height: 80%;
  width: 80%;
  position: relative;
  z-index: 1;
}

.blur {
  height: 12rem;
  width: 12rem;
  background-color: var(--primary);
  filter: blur(100px);
  border-radius: 100px;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ----------------------Title Text(Hero Section)-----------------------*/
.title {
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: -0.10rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-self: center;
  height: 100%;
  z-index: 1000;
}

.title>p {
  margin: 0;
  line-height: 7rem;
  width: auto;
}

.title>p:nth-child(1) {
  align-self: center;
}

.title>p:nth-child(2) {
  color: var(--primary);
  align-self: center;
}

.title>p:nth-child(3) {
  align-self: flex-end;
}

/* ----------------------Button(Hero Section)-----------------------*/
.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: 50px;
  width: 160px;
  z-index: 9999;
}

.button-cs {
  height: 50px;
  width: 160px;
  clip-path: path("M 0 25 C 0 -5, -5 0, 80 0 S 160 -5, 160 25, 165 50 80 50, 0 55, 0 25");
  border: none;
  border-radius: 13px;
  background-color: var(--primaryBg);
  box-shadow: 0px -3px 15px 0px var(--primaryHi) inset;
  color: var(--primaryFg);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(0px);
  transition: all 0.2s ease;
}

.span-cs {
  width: 100px;
  height: 60px;
  background-color: var(--primaryHi);
  border-radius: 100%;
  filter: blur(20px);
  position: absolute;
  bottom: -50%;
  transition: all 0.2s ease;
}

.button:hover>span {
  opacity: 60%;
}

.button:hover>button {
  transform: translateY(5px);
}

.button.first {
  top: 12%;
  right: 20%;
}

.button.sec {
  bottom: 13%;
  right: 11%;
}

.button.sec>button {
  background-color: var(--accentBg);
  box-shadow: 0px -3px 15px 0px var(--accentHi) inset;
  color: var(--accentFg);
}

.button.sec>span {
  background-color: var(--accentHi);
}

.button.third {
  bottom: 25%;
  left: 15%;
}

.button.third>button {
  background-color: var(--secondaryBg);
  box-shadow: 0px -3px 15px 0px var(--secondary) inset;
  color: var(--secondaryFg);
}

.button.third>span {
  background-color: var(--secondaryHi);
}

/*--------Left Right SVG(Hero Section)--------------*/
.top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 50%;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 50%;
}

/*--------------------------Media Query for Hero Section-----------------------------*/
/* -------------------------Galaxy Fold Responsive Not Done Yet--------------------------- */
@media screen and (device-width: 280px) and (device-height: 1536px) {
  .title {
    font-size: 1rem;
    /*TODO*/
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 2rem;
  }

  .title>p {
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
  }

  .button.first {
    top: 12%;
    right: 11%;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;

  }

  .title>p {
    line-height: 4rem;
    letter-spacing: -0.12rem;
  }

  .blur {
    height: 8rem;
    width: 8rem;
  }

  .bottom-left {
    display: none;
  }

  .top-right {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .blur {
    height: 6rem;
    width: 6rem;
  }

  .title {
    font-size: 2.5rem;

  }

  .title>p {
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
  }
}

/*--------------------Navbar-------------------------*/
nav {
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 100000;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
}

nav a {
  background: transparent;
  display: flex;
  padding: 0.9rem;
  color: var(--primary);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.nav-bg {
  background: rgba(255, 255, 255, 0);
  border-radius: 3rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(255, 255, 255, 0.03);
}

nav a.active {
  background: rgba(0, 0, 0, 0.3);
  color: var(--primary);
  border-radius: 50%;
}


/*------------Services--------------*/


.process-reset {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.process-reset *,
.process-reset :focus,
.process-reset :active {
  outline: none;
}

.process-reset a:focus,
.process-reset a:active {
  outline: none;
}

.process-reset html,
.process-reset body {
  height: 700px;
  min-width: 320px;
  font-size: 16px;
}

.process-reset body {
  line-height: 1;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.process-reset input,
.process-reset button,
.process-reset textarea {
  font-size: inherit;
  line-height: inherit;
}

.process-reset button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

.process-reset a {
  color: inherit;
  text-decoration: none;
}

.process-reset ul li {
  list-style: none;
}

.process-reset img {
  vertical-align: top;
}

.process-reset h1,
.process-reset h2,
.process-reset h3,
.process-reset h4,
.process-reset h5,
.process-reset h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* //////Container///// */

.process__container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

/* //////////////////////////// */

.process {
  padding: 70px 0 70px 0;
  font-family: sans-serif;
}

@media only screen and (max-width: 600px) {
  .process {
    padding: 10px 0 10px 0;
  }
}

.process__intro {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.process__text {
  font-size: 18px;
  line-height: 127%;
}

/* //////////////////////////// */

.process__intro {
  margin-bottom: 80px;
}

@media (max-width: 991.98px) {
  .process__intro {
    margin-bottom: 32px;
  }
}

.accordions__list {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

@media (max-width: 479.98px) {
  .accordions__list {
    gap: 1.25rem;
  }
}

.accordions__item {
  background-color: #f3f3f3;
  border-radius: 2.8rem;
  overflow: hidden;
  transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
}

@media (max-width:479.98px){
  .accordions__item {
    border-radius: 1.5rem;
  }
}

.accordions__control {
  display: flex;
  align-items: center;
  padding: 40px 60px;
  width: 100%;
  position: relative;
}

@media (max-width: 767.98px) {
  .accordions__control {
    padding: 30px;
  }
}

@media (max-width: 479.98px) {
  .accordions__control {
    padding: 20px;
  }
}

.accordions__title {
  text-transform: capitalize;
  flex: 1 1 auto;
  display: flex;
  line-height: 120%;
  padding-right: 1.25rem;
  justify-content: flex-start;
  text-align: left;
}


.accordions__icon {
  flex: 0 0 58px;
  display: flex;
  width: 58px;
  height: 58px;
  background-color: #f3f3f3;
  border: 1px solid #191a23;
  border-radius: 50%;
  position: relative;
  transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
}

@media (max-width: 479.98px) {
  .accordions__icon {
    flex: 0 0 32px;
    display: flex;
    width: 32px;
    height: 32px;
  }
}

.accordions__icon::before,
.accordions__icon::after {
  content: "";
  width: 1.5625rem;
  height: 0.3125rem;
  background-color: #191a23;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 479.98px) {
  .accordions__icon::before,
  .accordions__icon::after {
    width: 15px;
    height: 2px;
  }
}

.accordions__icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.accordions__content {
  padding: 0 60px 0 60px;
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  transition: 0.5s cubic-bezier(0.65, 0.2, 0.65, 1);
  box-sizing: content-box;
  position: relative;
  z-index: 5;
}

@media (max-width: 767.98px) {
  .accordions__content {
    padding: 0 30px 0 30px;
  }
}

@media (max-width: 479.98px) {
  .accordions__content {
    padding: 0 20px 0 20px;
  }
}

.open .accordions__content {
  padding: 20px 60px 40px 60px;
}

@media (max-width:767.98px){
  .open .accordions__content {
    padding:20px 30px;
  }
}

@media (max-width:479.98px){
  .open .accordions__content {
    padding: 0px 20px 20px 20px;    
  }
}

.open {
  background-color: #4dffb5;
}

.open .accordions__icon {
  transform: rotate(225deg);
}
/*----------Services-----------*/
.cs-bg-services-1{
  background: linear-gradient(105.89deg, rgb(18, 76, 162) 7.77%, rgb(27, 30, 92) 95.22%);;
}
.cs-bg-services-2{
  background: linear-gradient(105.89deg, rgb(184, 15, 157) 7.77%, rgb(27, 30, 92) 95.22%);
}
.cs-bg-services-3{
  background: linear-gradient(105.89deg, rgb(255, 223, 106) 7.77%, rgb(250, 187, 67) 95.22%);
}
.cs-bg-services-4{
  background: linear-gradient(105.89deg, rgb(136, 64, 255) 7.77%, rgb(3, 2, 74) 95.22%);
}
.cs-bg-services-5{
  background: linear-gradient(102.55deg, rgb(133, 248, 193) 20.86%, rgb(7, 138, 91) 92.2%);
}
/*----------Pricing------------*/
.background-circle {
  height: 50vh;
  width: 50vh;
  background-image: radial-gradient(closest-side, #4dffb52c, rgba(0, 0, 0, 0));
  position: absolute;
  left: -15%;
}
@media (max-width:767.98px){
  .background-circle {
    display: none;
  }
}
.cs-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  justify-items: center;
  align-items: center;
  width: 1200px;
  margin: 100px;
}
.shadow-custom {
  box-shadow: 0 0 20px 1px #4dffb5;
}
.box{
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background: var(--white);
}
.box-2{
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background: var(--primary);
}

.cs-title{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #121212;
}
/*  */
.basic .cs-title{
  background: var(--primary);
}
.view{
  display: block;
  width: 100%;
  padding: 30px 0 20px;

  background: var(--white-smoke);
}
.view-2{
  display: block;
  width: 100%;
  padding: 30px 0 20px;

  background: var(--primary);
}

.icon{
  display: flex;
  justify-content: center;
}

.icon img{
  width: 100px;
}


.detail{
  margin: auto 0 auto 5px;
  width: 70px;
  font-size: 0.7em;
  font-weight: bold;
  line-height: 15px;
  color: #7D7C7C;
}

.description{
  margin: 3em auto;
  font-size: 0.9em;
  color: #7D7C7C;
}

.cs-ul{
  list-style: none;
}

@media screen and (max-width:970px) {
  .content{
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 12px auto;
  }
  .basic{
    margin-top: 25px;
}
}

/*-------Projects & Contact Us----------*/
.glass-effect{
  background: rgba(18, 54, 39, 0.08);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(18, 54, 39, 0.671);
}





